@using CQRS.Application.Features.Events.Commands.Update
@using Domain.Entities
@model UpdateEventCommand


<div class="block-header">
    <h2>Update Event</h2>
</div>


<form asp-controller="Event" asp-action="Update" class="form-group" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />


    <Text-Box asp-for="ArabicTitle" label="الاسم باللغة العربية" required="true" error-message="برجاء ادخال الاسم باللغة العربية">
        <span asp-validation-for="ArabicTitle" style="color:red"></span>
    </Text-Box>
    <br />
    <Text-Box asp-for="Title" label="Event Title  " required="true" error-message="please enter title">
        <span asp-validation-for="Title" style="color:red"></span>
    </Text-Box>
    <br />

    <Text-Box asp-for="Address" label="Event Address" required="true" error-message="please enter address">
        <span asp-validation-for="Address" style="color:red"></span>
    </Text-Box>
    <br />

    <Text-Box asp-for="StartDate" label="StartDate" required="true" error-message="please enter date" type=" date">
        <span asp-validation-for="StartDate" style="color:red"></span>
    </Text-Box>
    <br />
    <Text-Box asp-for="EndDate" label="End Date" required="true" error-message="please enter date" type="EndDate">
        <span asp-validation-for="EndDate" style="color:red"></span>
    </Text-Box>
    <br />
    <Text-Box asp-for="Content" label="Content" required="true" error-message="please enter Content">
        <span asp-validation-for="EndDate" style="color:red"></span>
    </Text-Box>
    <br />

    <h3>choose a source</h3>
    <select asp-for="SourceId" asp-items="@ViewBag.Source">
    </select>

    <br />


    <h3>choose a photoAlbum</h3>
    <select asp-for="PhotoAlbumId" required="True" asp-items="@ViewBag.PhotoAlbum" id="PhotoAlbumId">
    </select>


    <br />
    <h3>choose categories</h3>
    <select multiple="multiple" asp-for="CategoriesId" asp-items="@ViewBag.Category">
    </select>

    <br />

    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Select File</label>
            <input asp-for="CoverPhotoFormFile" class="form-control" />
            <span asp-validation-for="CoverPhotoFormFile" class="text-danger"></span>
        </div>
    </div>

    <center>
        <input type="submit" value="Save" class="btn btn-primary" />
        <input type="reset" value="Cancel" class="btn btn-danger" />
    </center>

</form>
